
/* общие стили для страницы */

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 1440px;
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Non Bureau Extended', 'Non Bureau';
}

.header {
display: flex;
margin-top: 53px;
height: 52px;
}

/* задний фон */

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 2,5%;
    background-image: url(../images/новый\ сайт\ для\ артдирекшена.png);
    width: 1440px;
    height: 12384px;
    opacity: 0.2;
    z-index: -2;
}

/* свойства текста и ссылок */

p {
    color: #131313;
    font-size: 25px;
    position: absolute;
}

h1+h2+h3 {
    color: #131313;
}

a {
    color: inherit;
}

/* стили для секций */

/* шапка */

#text1 {
    left: 161px;
    font-weight: 300;
    transition: all ease 0.5s;
}

#text1:hover {
    color: #04AE7B;
}

#text2 {
    left: 859px;
    font-weight: 300;
    transition: all ease 0.5s;
}

#text2:hover {
    color: #04AE7B;
}

/* секция 1 */

img {
    position: absolute;
}

#genious {
    font-size: 100px;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 4px;
    left: 161px;
    top: 111px;
    text-align: center;
    position: absolute;
}
#artdirect {
    font-size: 100px;
    font-weight: 200;
    font-style: italic;
    left: 162px;
    top: 210px;
    text-align: center;
    position: absolute;
}

.section-1 h2 {
    font-size: 205px;
    font-weight: 700;
    left: 629px;
    top: 100px;
    text-align: right;
    position: absolute;
}

#best {
    font-size: 35px;
    font-weight: 300;
    top: 336px;
    left: 161px;
    position: absolute;
}
#year {
    font-size: 35px;
    font-weight: 300;
    top: 420px;
    left: 161px;
    position: absolute;
}
#love {
    font-size: 35px;
    font-weight: 300;
    top: 466px;
    left: 159px;
    letter-spacing: -0.2px;
    position: absolute;
}

#bob1 {
    left: 570px;
    top: 347px;
    transition: all ease 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#bob1:hover {
    animation: bounce 1s;
}

#bob2 {
    left: 917px;
    top: 230px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#bob2:hover {
    animation: bounce 1s;
}

#bob3 {
    left: 1244px;
    top: 422px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#bob3:hover {
    animation: bounce 1s;
}

#bee {
    top: 70px;
    left: -550px;
    transition: all ease 1s;
}

#bee:hover {
    left: 0;
}

/* секция 2 */

#sostav {
    font-size: 89px;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 4px;
    left: 160px;
    top: 629px;
    position: absolute;
}

#artdirect2 {
    font-size: 89px;
    font-weight: 700;
    top: 703px;
    left: 436px;
    letter-spacing: 4px;
    position: absolute;
}

/* секция 3 */

#me img {
    top: 862px;
    left: 162px;
}

#me p {
    top: 1279px;
    left: 162px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    transition: all ease 0.5s;
}

#me p:hover {
    color: #04AE7B;
}

#myself h3 {
    font-size: 59px;
    font-weight: 700;
    top: 854px;
    left: 576px;
    letter-spacing: 2px;
    position: absolute;
}

#myself #text3 {
    letter-spacing: 1px;
    line-height: 27px;
    top: 934px;
    left: 578px;
}

#myself #text4 {
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 1182px;
    left: 578px;
}

#myself #text5 {
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 1216px;
    left: 578px;
}

#myself #pic1 {
    opacity: 0.5;
    top: 1233px;
    left: 790px;
    transition: all ease 0.5s;
}

#myself #pic1:hover {
opacity: 1;
transform: scale(1.1);
}

#myself #pic2 {
    opacity: 0.5;
    top: 1162px;
    left: 870px;
     transition: all ease 0.5s;
}

#myself #pic2:hover {
opacity: 1;
transform: scale(1.1);
}

#myself #pic3 {
    opacity: 0.5;
    top: 1243px;
    left: 955px;
    transition: all ease 0.5s;
}

#myself #pic3:hover {
opacity: 1;
transform: scale(1.1);
}

#myself #pic4 {
    opacity: 0.5;
    top: 1163px;
    left: 965px;
    transition: all ease 0.5s;
}

#myself #pic4:hover {
opacity: 1;
transform: scale(1.1);
}

#myself #pic5 {
    top: 1173px;
    left: 1053px;
}

