/* ________________общие стили для страницы_____________________ */

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  display: block;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Non Bureau Extended', 'Non Bureau';
  display: flex;
  flex-direction: column;
}

/* __________________задний фон____________________ */

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/новый\ сайт\ для\ артдирекшена.png);
  width: 100%;
  height: 12384px;
  opacity: 0.2;
  z-index: -2;
}

/* ______________свойства текста и ссылок_________________ */

p {
  color: #131313;
  font-size: 1.65vw;
}

h1 + h2 + h3 {
  color: #131313;
}

a {
  color: inherit;
}

/* ________________стили для секций___________________ */

/* ______________шапка________________ */

.header {
  display: flex;
  flex-direction: row;
  margin-top: 3.5vw;
  height: 3.5vw;
}

#text1 {
  margin-left: 10.4vw;
  font-weight: 300;
  transition: all ease 0.5s;
}

#text1:hover {
  color: #04ae7b;
}

#text1 a {
  text-decoration: none;
}

#text2 {
  margin-left: 22.4vw;
  font-weight: 300;
  transition: all ease 0.5s;
}

#text2:hover {
  color: #04ae7b;
}

#text2 a {
  text-decoration: none;
}

/* _______________секция 1_______________ */

.section_1 {
  height: 33vw;
}

.mainDiv {
  width: 100%;
  height: 33vw;
}

img {
  position: absolute;
}

#genious {
  font-size: 6.5vw;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 0.25vw;
  left: 10.5vw;
  top: 7.2vw;
  text-align: center;
  position: absolute;
}
#artdirect {
  font-size: 6.5vw;
  font-weight: 200;
  font-style: italic;
  left: 10.5vw;
  top: 13.9vw;
  text-align: center;
  position: absolute;
}

.section_1 h2 {
  font-size: 13.35vw;
  font-weight: 700;
  left: 41vw;
  top: 6.5vw;
  text-align: right;
  position: absolute;
}

#best {
  font-size: 2.27vw;
  font-weight: 300;
  top: 22vw;
  left: 10.5vw;
  position: absolute;
}
#year {
  font-size: 2.3vw;
  font-weight: 300;
  top: 27.4vw;
  left: 10.5vw;
  position: absolute;
}
#love {
  font-size: 2.27vw;
  font-weight: 300;
  top: 30.4vw;
  left: 10.5vw;
  letter-spacing: -0.2px;
  position: absolute;
}

#bob1 {
  width: 8%;
  left: 37vw;
  top: 22.5vw;
  transition: all ease 1s;
}

#bob1:hover {
  animation: bounce 1s;
}

#bob2 {
  width: 8%;
  left: 59.2vw;
  top: 15vw;
  transition: all ease 1s;
}

#bob2:hover {
  animation: bounce 1s;
}

#bob3 {
  width: 8%;
  left: 81vw;
  top: 27vw;
  transition: all ease 1s;
}

#bob3:hover {
  animation: bounce 1s;
}

#bee {
  width: 51%;
  top: 4vw;
  left: -37vw;
  transition: all ease 1s;
}

#bee:hover {
  left: 0;
}

/* _______________секция 2_____________ */
.section_2 {
  width: 100%;
  height: 15vw;
}

#sostav {
  font-size: 5.8vw;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 0.25vw;
  margin-left: 10.5vw;
  margin-top: 1vw;
}

#artdirect2 {
  font-size: 5.8vw;
  font-weight: 700;
  margin-top: -1vw;
  margin-left: 28.4vw;
  letter-spacing: 4px;
}

/* ______________секция 3_______________ */
.section_3 {
  width: 100%;
  height: 38vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

#me {
  width: 61%;
  height: 36vw;
}

#me a {
  text-decoration: none;
}

#me img {
  width: 36.9%;
  padding-left: 10.5vw;
  padding-top: 1vw;
}

#me img:hover {
  animation: bounce 1s;
}

#me p:hover {
  color: #04ae7b;
}

#link {
  font-weight: 500;
  letter-spacing: 0.05vw;
  font-style: italic;
  transition: all ease 0.5s;
  margin-top: 28.2vw;
  margin-left: 10.5vw;
}

.contentDiv_1 {
  width: 100%;
  height: 36vw;
  display: flex;
  flex-direction: column;
}

#myself {
  width: 100%;
  height: 22vw;
}

#lera {
  font-size: 3.85vw;
  margin-top: 0.6vw;
  font-weight: 700;
  letter-spacing: 0.13vw;
}

#text3 {
  margin-top: 1.4vw;
  padding-right: 17vw;
  letter-spacing: 0.05vw;
  line-height: 1.75vw;
}

.about {
  width: 100%;
  height: 14vw;
  display: flex;
  flex-direction: row;
}

.aboutLinks {
  position: relative;
  width: 100%;
}

#pic1 {
  width: 16%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 3.3vw;
  left: -5.3vw;
}

#pic1:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic2 {
  width: 14%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: -1.2vw;
  left: 0.7vw;
}

#pic2:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic3 {
  width: 18%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 4vw;
  left: 5.7vw;
}

#pic3:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic4 {
  width: 13%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: -1.5vw;
  left: 6.3vw;
}

#pic4:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic5 {
  width: 30%;
  top: -0.5vw;
  left: 12vw;
}

.aboutBlockquote {
  width: 45%;
}

#text4 {
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
}

#text5 {
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
  margin-top: 0.5vw;
}

/* ___________________секция 4_________________ */
.section_4 {
  width: 100%;
  height: 38vw;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.contentDiv_2 {
  width: 100%;
  height: 36vw;
  display: flex;
  flex-direction: column;
}

#ilya {
  width: 100%;
  height: 22vw;
}

#ilya h3 {
  font-size: 3.85vw;
  margin-top: 1vw;
  margin-left: 24vw;
  font-weight: 700;
  letter-spacing: 0.13vw;
}

#text6 {
  text-align: right;
  letter-spacing: 0.05vw;
  line-height: 1.75vw;
  margin: 1vw 0;
  padding-right: 2.7vw;
}

.about2 {
  width: 95%;
  height: 14vw;
  display: flex;
  flex-direction: row-reverse;
}

.aboutLinks2 {
  position: relative;
  width: 100%;
}

#pic6 {
  width: 18%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 0vw;
  left: 21.3vw;
}

#pic6:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic7 {
  width: 18%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 0vw;
  left: 25.6vw;
}

#pic7:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic8 {
  width: 12.5%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 3vw;
  left: 30.6vw;
}

#pic8:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic9 {
  width: 20%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: -1vw;
  left: 33.6vw;
}

#pic9:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic10 {
  width: 29.4%;
  top: 0.5vw;
  left: 10.4vw;
}

.aboutBlockquote2 {
  width: 45%;
}

#text7 {
  text-align: right;
  margin-top: 1.4vw;
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
}

#text8 {
  text-align: right;
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
  margin-top: 0.5vw;
}

#ilya2 {
  width: 73.5%;
  height: 36vw;
}

#ilya2 a {
  text-decoration: none;
}

#ilya2 img {
  width: 26.2%;
  padding-top: 1.5vw;
  margin-left: -1.55vw;
}

#ilya2 img:hover {
  animation: bounce 1s;
}

#ilya2 p:hover {
  color: #04ae7b;
}

#link_2 {
  font-weight: 500;
  letter-spacing: 0.05vw;
  font-style: italic;
  transition: all ease 0.5s;
  margin-top: 28.5vw;
  margin-left: 12.3vw;
}

/* __________________секция 5__________________ */

.section_5 {
  width: 100%;
  height: 38vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

#borya2 {
  width: 61%;
  height: 36vw;
}

#borya2 a {
  text-decoration: none;
}

#borya2 img {
  width: 37%;
  padding-left: 10.5vw;
  padding-top: 2.4vw;
}

#borya2 img:hover {
  animation: bounce 1s;
}

#borya2 p:hover {
  color: #04ae7b;
}

#link_3 {
  font-weight: 500;
  letter-spacing: 0.05vw;
  font-style: italic;
  transition: all ease 0.5s;
  margin-top: 29.6vw;
  margin-left: 10.5vw;
}

.contentDiv_3 {
  width: 100%;
  height: 36vw;
  display: flex;
  flex-direction: column;
}

#borya {
  width: 100%;
  height: 22vw;
}

#borya h3 {
  font-size: 3.85vw;
  margin-top: 2vw;
  margin-left: 0vw;
  font-weight: 700;
  letter-spacing: 0.13vw;
}

#text9 {
  margin-top: 1.4vw;
  padding-right: 16vw;
  letter-spacing: 0.05vw;
  line-height: 1.75vw;
}

.about3 {
  width: 100%;
  height: 14vw;
  display: flex;
  flex-direction: row;
}

.aboutLinks3 {
  position: relative;
  width: 100%;
}

#pic11 {
  width: 11.6%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 0.2vw;
  left: -7.3vw;
}

#pic11:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic12 {
  width: 21%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 3.8vw;
  left: -4.2vw;
}

#pic12:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic13 {
  width: 12.4%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 9vw;
  left: 3.8vw;
}

#pic13:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic14 {
  width: 17%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 0.8vw;
  left: 5.3vw;
}

#pic14:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic15 {
  width: 36.5%;
  top: 2.5vw;
  left: 10.3vw;
}

.aboutBlockquote3 {
  width: 45%;
}

#text10 {
  margin-top: 3.8vw;
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
}

#text11 {
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
  margin-top: 0.5vw;
}

/* __________________секция 6__________________ */
.section_6 {
  width: 100%;
  height: 38vw;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

#taras2 {
  width: 79%;
  height: 36vw;
}

#taras2 a {
  text-decoration: none;
}

#taras2 img {
  width: 26.3%;
  padding-left: 0vw;
  padding-top: 3.7vw;
}

#taras2 img:hover {
  animation: bounce 1s;
}

#taras2 p:hover {
  color: #04ae7b;
}

#link_4 {
  font-weight: 500;
  letter-spacing: 0.05vw;
  font-style: italic;
  transition: all ease 0.5s;
  margin-top: 30.8vw;
  margin-left: 14vw;
}

.contentDiv_4 {
  width: 100%;
  height: 36vw;
  display: flex;
  flex-direction: column;
}

#taras {
  width: 100%;
  height: 22vw;
}

#taras h3 {
  font-size: 3.85vw;
  margin-top: 3.2vw;
  margin-left: 26.3vw;
  font-weight: 700;
  letter-spacing: 0.13vw;
}

#text12 {
  text-align: right;
  margin-top: 1.2vw;
  padding-right: 1vw;
  letter-spacing: 0.05vw;
  line-height: 1.75vw;
}

.about4 {
  width: 100%;
  height: 14vw;
  display: flex;
  flex-direction: row-reverse;
}

.aboutLinks4 {
  position: relative;
  width: 100%;
}

#pic16 {
  width: 13.8%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: -0.3vw;
  left: 36.3vw;
}

#pic16:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic17 {
  width: 25.1%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 1.8vw;
  left: 29.4vw;
}

#pic17:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic18 {
  width: 18.4%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: -0.3vw;
  left: 23.7vw;
}

#pic18:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic19 {
  width: 12.3%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 6.8vw;
  left: 20.8vw;
}

#pic19:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic20 {
  width: 27.5%;
  top: 0vw;
  left: 10.4vw;
}

.aboutBlockquote4 {
  width: 36%;
}

#text13 {
  text-align: right;
  margin-top: 2.3vw;
  padding-right: 0.9vw;
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
}

#text14 {
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
  margin-top: 0.5vw;
}

/* __________________секция 7__________________ */
.section_7 {
  width: 100%;
  height: 38vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

#grisha2 {
  width: 61%;
  height: 36vw;
}

#grisha2 a {
  text-decoration: none;
}

#grisha2 img {
  width: 37%;
  padding-left: 10.5vw;
  padding-top: 2.8vw;
}

#grisha2 img:hover {
  animation: bounce 1s;
}

#grisha2 p:hover {
  color: #04ae7b;
}

#link_5 {
  font-weight: 500;
  letter-spacing: 0.05vw;
  font-style: italic;
  transition: all ease 0.5s;
  margin-top: 30vw;
  margin-left: 10.5vw;
}

.contentDiv_5 {
  width: 100%;
  height: 36vw;
  display: flex;
  flex-direction: column;
}

#grisha {
  width: 100%;
  height: 22vw;
}

#grisha h3 {
  font-size: 3.85vw;
  margin-top: 2.4vw;
  margin-left: 0vw;
  font-weight: 700;
  letter-spacing: 0.13vw;
}

#text15 {
  margin-top: 1.3vw;
  padding-right: 16vw;
  letter-spacing: 0.05vw;
  line-height: 1.75vw;
}

.about5 {
  width: 100%;
  height: 14vw;
  display: flex;
  flex-direction: row;
}

.aboutLinks5 {
  position: relative;
  width: 100%;
}

#pic21 {
  width: 14.6%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: -1.7vw;
  left: -3.5vw;
}

#pic21:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic22 {
  width: 16%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 5.4vw;
  left: -1vw;
}

#pic22:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic23 {
  width: 18.4%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: -1vw;
  left: 2.3vw;
}

#pic23:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic24 {
  width: 13%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 4.8vw;
  left: 5.3vw;
}

#pic24:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic25 {
  width: 36.5%;
  top: 0.3vw;
  left: 9.3vw;
}

.aboutBlockquote5 {
  width: 45%;
}

#text16 {
  margin-top: 2.2vw;
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
}

#text17 {
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
  margin-top: 0.5vw;
}

/* _______________секция 8_______________ */
.section_8 {
  width: 100%;
  height: 38vw;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

#nastyas2 {
  width: 80%;
  height: 36vw;
}

#nastyas2 a {
  text-decoration: none;
}

#nastyas2 img {
  width: 26.5%;
  padding-left: 0.5vw;
  padding-top: 5.7vw;
}

#nastyas2 img:hover {
  animation: bounce 1s;
}

#nastyas2 p:hover {
  color: #04ae7b;
}

#link_6 {
  font-weight: 500;
  letter-spacing: 0.05vw;
  font-style: italic;
  transition: all ease 0.5s;
  margin-top: 32.5vw;
  margin-left: 7.2vw;
}

.contentDiv_6 {
  width: 100%;
  height: 36vw;
  display: flex;
  flex-direction: column;
}

#nastyas {
  width: 100%;
  height: 22vw;
}

#nastyas h3 {
  font-size: 3.85vw;
  margin-top: 4.9vw;
  margin-left: 26.3vw;
  font-weight: 700;
  letter-spacing: 0.13vw;
}

#text18 {
  text-align: right;
  margin-top: 1.3vw;
  padding-right: 0.7vw;
  letter-spacing: 0.05vw;
  line-height: 1.75vw;
}

.about6 {
  width: 100%;
  height: 14vw;
  display: flex;
  flex-direction: row-reverse;
}

.aboutLinks6 {
  position: relative;
  width: 100%;
}

#pic26 {
  width: 13.6%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 7.8vw;
  left: 32.2vw;
}

#pic26:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic27 {
  width: 9%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 1.7vw;
  left: 30.5vw;
}

#pic27:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic28 {
  width: 21.4%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 5.4vw;
  left: 23.3vw;
}

#pic28:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic29 {
  width: 25%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 1.8vw;
  left: 21.3vw;
}

#pic29:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic30 {
  width: 39.5%;
  top: 2.3vw;
  left: 10.4vw;
}

.aboutBlockquote6 {
  width: 53%;
}

#text19 {
  text-align: right;
  padding-right: 0.9vw;
  margin-top: 4vw;
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
}

#text20 {
  text-align: right;
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
  margin-top: 0.5vw;
}

/* _______________секция 9_______________ */
.section_9 {
  width: 100%;
  height: 38vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

#dashaz2 {
  width: 60%;
  height: 36vw;
}

#dashaz2 a {
  text-decoration: none;
}

#dashaz2 img {
  width: 36.8%;
  padding-left: 10.5vw;
  padding-top: 4.2vw;
}

#dashaz2 img:hover {
  animation: bounce 1s;
}

#dashaz2 p:hover {
  color: #04ae7b;
}

#link_7 {
  font-weight: 500;
  letter-spacing: 0.05vw;
  font-style: italic;
  transition: all ease 0.5s;
  margin-top: 31.3vw;
  margin-left: 10.5vw;
}

.contentDiv_7 {
  width: 100%;
  height: 36vw;
  display: flex;
  flex-direction: column;
}

#dashaz {
  width: 100%;
  height: 22vw;
}

#dashaz h3 {
  font-size: 3.85vw;
  margin-top: 3.7vw;
  margin-left: 0.3vw;
  font-weight: 700;
  letter-spacing: 0.13vw;
}

#text21 {
  margin-top: 1.3vw;
  padding-left: 0.4vw;
  letter-spacing: 0.05vw;
  line-height: 1.75vw;
}

.about7 {
  width: 100%;
  height: 14vw;
  display: flex;
  flex-direction: row;
}

.aboutLinks7 {
  position: relative;
  width: 100%;
}

#pic31 {
  width: 11.6%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: -0.6vw;
  left: -6.2vw;
}

#pic31:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic32 {
  width: 17%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: -0.3vw;
  left: -2.1vw;
}

#pic32:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic33 {
  width: 14.4%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 4.6vw;
  left: 1.3vw;
}

#pic33:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic34 {
  width: 12%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: -0.2vw;
  left: 4.3vw;
}

#pic34:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic35 {
  width: 39%;
  top: 1.9vw;
  left: 7.2vw;
}

.aboutBlockquote7 {
  width: 53%;
}

#text22 {
  margin-top: 2vw;
  padding-left: 0.5vw;
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
}

#text23 {
  letter-spacing: 0.05vw;
  padding-left: 0.3vw;
  font-style: italic;
  font-weight: 500;
  margin-top: 0.5vw;
}

/* _____________секция 10_____________ */
.section_10 {
  width: 100%;
  height: 38vw;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

#polina2 {
  width: 80%;
  height: 36vw;
}

#polina2 a {
  text-decoration: none;
}

#polina2 img {
  width: 26.8%;
  padding-left: 0.5vw;
  padding-top: 4.3vw;
}

#polina2 img:hover {
  animation: bounce 1s;
}

#polina2 p:hover {
  color: #04ae7b;
}

#link_8 {
  font-weight: 500;
  letter-spacing: 0.05vw;
  font-style: italic;
  transition: all ease 0.5s;
  margin-top: 31.5vw;
  margin-left: 14.8vw;
}

.contentDiv_8 {
  width: 100%;
  height: 36vw;
  display: flex;
  flex-direction: column;
}

#polina {
  width: 100%;
  height: 22vw;
}

#polina h3 {
  font-size: 3.85vw;
  margin-top: 3.9vw;
  margin-left: 12.5vw;
  font-weight: 700;
  letter-spacing: 0.13vw;
}

#text24 {
  text-align: right;
  margin-top: 1.3vw;
  padding-right: 0.7vw;
  letter-spacing: 0.05vw;
  line-height: 1.75vw;
}

.about8 {
  width: 100%;
  height: 14vw;
  display: flex;
  flex-direction: row-reverse;
}

.aboutLinks8 {
  position: relative;
  width: 100%;
}

#pic36 {
  width: 22.6%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 1vw;
  left: 36.8vw;
}

#pic36:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic37 {
  width: 16%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 6.3vw;
  left: 33.1vw;
}

#pic37:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic38 {
  width: 18.4%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 0vw;
  left: 30.1vw;
}

#pic38:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic39 {
  width: 20%;
  opacity: 0.5;
  transition: all ease 0.5s;
  top: 2.2vw;
  left: 24vw;
}

#pic39:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic40 {
  width: 39%;
  top: -0.5vw;
  left: 10.5vw;
}

.aboutBlockquote8 {
  width: 53%;
}

#text25 {
  text-align: right;
  margin-top: 2vw;
  padding-right: 0.9vw;
  letter-spacing: 0.05vw;
  font-style: italic;
  font-weight: 500;
}

#text26 {
  letter-spacing: 0.05vw;
  padding-left: 8.3vw;
  font-style: italic;
  font-weight: 500;
  margin-top: 0.5vw;
}

/* секция 11 */

/* секция 12 */

/* секция 13 */

/* секция 14 */

/* секция 15 */

/* секция 16 */

/* секция 17 */

/* секция 18 */

/* секция 19 */

/* секция 20 */

.section-20 #best {
  font-size: 89px;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 4px;
  left: 199px;
  top: 10806px;
  position: absolute;
}

#artmentor {
  font-size: 89px;
  font-weight: 700;
  top: 10881px;
  left: 511px;
  letter-spacing: 4px;
  position: absolute;
}

/* секция 21 */

#dima {
  top: 11070px;
  left: 161px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

#dima:hover {
  animation: bounce 1s;
}

#lina {
  top: 11070px;
  left: 542px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

#lina:hover {
  animation: bounce 1s;
}

#anyam {
  top: 11070px;
  left: 923px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

#anyam:hover {
  animation: bounce 1s;
}

#dima1 {
  font-size: 59px;
  font-weight: 700;
  top: 11449px;
  left: 244px;
  letter-spacing: 2px;
  position: absolute;
}

#lina1 {
  font-size: 59px;
  font-weight: 700;
  top: 11449px;
  left: 626px;
  letter-spacing: 2px;
  position: absolute;
}

#anyam1 {
  font-size: 59px;
  font-weight: 700;
  top: 11449px;
  left: 1033px;
  letter-spacing: 2px;
  position: absolute;
}

#text54 {
  letter-spacing: 1px;
  line-height: 27px;
  text-align: left;
  top: 11511px;
  left: 254px;
}

#text55 {
  letter-spacing: 1px;
  line-height: 27px;
  text-align: left;
  top: 11511px;
  left: 622px;
}

#text56 {
  letter-spacing: 1px;
  line-height: 27px;
  text-align: left;
  top: 11511px;
  left: 982px;
}

#text57 {
  top: 11553px;
  left: 254px;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;
  transition: all ease 0.5s;
}

#text57:hover {
  color: #04ae7b;
}

#text57 a {
  text-decoration: none;
}

#text58 {
  top: 11553px;
  left: 623px;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;
  transition: all ease 0.5s;
}

#text58:hover {
  color: #04ae7b;
}

#text58 a {
  text-decoration: none;
}

#text59 {
  top: 11553px;
  left: 1012px;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;
  transition: all ease 0.5s;
}

#text59:hover {
  color: #04ae7b;
}

#text59 a {
  text-decoration: none;
}

#pic86 {
  opacity: 0.5;
  top: 11578px;
  left: 278px;
  transition: all ease 0.5s;
}

#pic86:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic87 {
  opacity: 0.5;
  top: 11578px;
  left: 652px;
  transition: all ease 0.5s;
}

#pic87:hover {
  opacity: 1;
  transform: scale(1.1);
}

#pic88 {
  opacity: 0.5;
  top: 11578px;
  left: 1049px;
  transition: all ease 0.5s;
}

#pic88:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* секция 22 */

#rectangle {
  width: 1441px;
  height: 686px;
  background-color: #131313;
  translate: 0 11593px;
}

#footer h1 {
  color: white;
  font-size: 130px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 4.9px;
  left: 307px;
  top: 11938px;
  text-align: center;
  position: absolute;
}

#footer h3 {
  color: white;
  font-size: 35px;
  font-weight: 400;
  top: 12078px;
  left: 390px;
  letter-spacing: 2.1px;
  position: absolute;
}

#footer p {
  color: white;
  letter-spacing: 1px;
  line-height: 27px;
  text-align: center;
  top: 12290px;
  left: 459px;
}
