
/* общие стили для страницы */

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 1440px;
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Non Bureau Extended', 'Non Bureau';
}

.header {
display: flex;
margin-top: 53px;
height: 52px;
}

/* задний фон */

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 2,5%;
    background-image: url(../images/новый\ сайт\ для\ артдирекшена.png);
    width: 1440px;
    height: 12384px;
    opacity: 0.2;
    z-index: -2;
}

/* свойства текста и ссылок */

p {
    color: #131313;
    font-size: 25px;
    position: absolute;
}

h1+h2+h3 {
    color: #131313;
}

a {
    color: inherit;
}

/* стили для секций */

/* шапка */

#text1 {
    left: 161px;
    font-weight: 300;
    transition: all ease 0.5s;
}

#text1:hover {
    color: #04AE7B;
}

#text1 a {
    text-decoration: none;
}

#text2 {
    left: 859px;
    font-weight: 300;
    transition: all ease 0.5s;
}

#text2:hover {
    color: #04AE7B;
}

#text2 a {
    text-decoration: none;
}

/* секция 1 */

img {
    position: absolute;
}

#genious {
    font-size: 100px;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 4px;
    left: 161px;
    top: 111px;
    text-align: center;
    position: absolute;
}
#artdirect {
    font-size: 100px;
    font-weight: 200;
    font-style: italic;
    left: 162px;
    top: 210px;
    text-align: center;
    position: absolute;
}

.section-1 h2 {
    font-size: 205px;
    font-weight: 700;
    left: 629px;
    top: 100px;
    text-align: right;
    position: absolute;
}

#best {
    font-size: 35px;
    font-weight: 300;
    top: 336px;
    left: 161px;
    position: absolute;
}
#year {
    font-size: 35px;
    font-weight: 300;
    top: 420px;
    left: 161px;
    position: absolute;
}
#love {
    font-size: 35px;
    font-weight: 300;
    top: 466px;
    left: 159px;
    letter-spacing: -0.2px;
    position: absolute;
}

#bob1 {
    left: 570px;
    top: 347px;
    transition: all ease 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#bob1:hover {
    animation: bounce 1s;
}

#bob2 {
    left: 917px;
    top: 230px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#bob2:hover {
    animation: bounce 1s;
}

#bob3 {
    left: 1244px;
    top: 422px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#bob3:hover {
    animation: bounce 1s;
}

#bee {
    top: 70px;
    left: -550px;
    transition: all ease 1s;
}

#bee:hover {
    left: 0;
}

/* секция 2 */

#sostav {
    font-size: 89px;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 4px;
    left: 160px;
    top: 629px;
    position: absolute;
}

#artdirect2 {
    font-size: 89px;
    font-weight: 700;
    top: 703px;
    left: 436px;
    letter-spacing: 4px;
    position: absolute;
}

/* секция 3 */

#me img {
    top: 862px;
    left: 162px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#me img:hover {
    animation: bounce 1s;
}

#me p {
    top: 1279px;
    left: 162px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    transition: all ease 0.5s;
}

#me p:hover {
    color: #04AE7B;
}

#myself h3 {
    font-size: 59px;
    font-weight: 700;
    top: 854px;
    left: 576px;
    letter-spacing: 2px;
    position: absolute;
}

#myself #text3 {
    letter-spacing: 1px;
    line-height: 27px;
    top: 934px;
    left: 578px;
}

#myself #text4 {
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 1182px;
    left: 578px;
}

#myself #text5 {
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 1216px;
    left: 578px;
}

#myself #pic1 {
    opacity: 0.5;
    top: 1233px;
    left: 790px;
    transition: all ease 0.5s;
}

#myself #pic1:hover {
opacity: 1;
transform: scale(1.1);
}

#myself #pic2 {
    opacity: 0.5;
    top: 1162px;
    left: 870px;
     transition: all ease 0.5s;
}

#myself #pic2:hover {
opacity: 1;
transform: scale(1.1);
}

#myself #pic3 {
    opacity: 0.5;
    top: 1243px;
    left: 955px;
    transition: all ease 0.5s;
}

#myself #pic3:hover {
opacity: 1;
transform: scale(1.1);
}

#myself #pic4 {
    opacity: 0.5;
    top: 1163px;
    left: 965px;
    transition: all ease 0.5s;
}

#myself #pic4:hover {
opacity: 1;
transform: scale(1.1);
}

#myself #pic5 {
    top: 1173px;
    left: 1053px;
}

#me a {
    text-decoration: none;
}

/* секция 4 */

#ilya h3{
    font-size: 59px;
    font-weight: 700;
    top: 1442px;
    left: 372px;
    letter-spacing: 2px;
    position: absolute;
}

#text6{
    letter-spacing: 1px;
    line-height: 27px;
    text-align: right;
    top: 1519px;
    left: 154px;
}

#text7{
     letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 1770px;
    left: 730px;
}

#text8{
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    text-align: right;
    top: 1803px;
    left: 608px;
}

#ilya #pic6{
 opacity: 0.5;
    top: 1751px;
    left: 329px;
    transition: all ease 0.5s;
}

#ilya #pic6:hover {
opacity: 1;
transform: scale(1.1);
}

#ilya #pic7{
 opacity: 0.5;
    top: 1750px;
    left: 394px;
    transition: all ease 0.5s;
}

#ilya #pic7:hover {
opacity: 1;
transform: scale(1.1);
}

#ilya #pic8{
 opacity: 0.5;
    top: 1791px;
    left: 471px;
    transition: all ease 0.5s;
}

#ilya #pic8:hover {
opacity: 1;
transform: scale(1.1);
}

#ilya #pic9{
 opacity: 0.5;
    top: 1733px;
    left: 520px;
    transition: all ease 0.5s;
}

#ilya #pic9:hover {
opacity: 1;
transform: scale(1.1);
}

#ilya #pic10 {
    top: 1760px;
    left: 161px;
}

#ilya2 img{
top: 1450px;
left: 850px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#ilya2 img:hover {
    animation: bounce 1s;
}

#ilya2 p {
    top: 1867px;
    left: 1066px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    transition: all ease 0.5s;
}

#ilya2 p:hover {
    color: #04AE7B;
}

#ilya2 a {
    text-decoration: none;
}

/* секция 5 */

#borya h3{
    font-size: 59px;
    font-weight: 700;
    top: 2042px;
    left: 577px;
    letter-spacing: 2px;
    position: absolute;
}

#text9{
    letter-spacing: 1px;
    line-height: 27px;
    text-align: left;
    top: 2120px;
    left: 577px;
}

#text10{
     letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 2370px;
    left: 577px;
}

#text11{
    letter-spacing: 1px;
    line-height: 26px;
    font-style: italic;
    font-weight: 500;
    text-align: left;
    top: 2403px;
    left: 577px;
}

#borya #pic11{
 opacity: 0.5;
    top: 2313px;
    left: 756px;
    transition: all ease 0.5s;
}

#borya #pic11:hover {
opacity: 1;
transform: scale(1.1);
}

#borya #pic12{
 opacity: 0.5;
    top: 2369px;
    left: 803px;
    transition: all ease 0.5s;
}

#borya #pic12:hover {
opacity: 1;
transform: scale(1.1);
}

#borya #pic13{
 opacity: 0.5;
    top: 2449px;
    left: 927px;
    transition: all ease 0.5s;
}

#borya #pic13:hover {
opacity: 1;
transform: scale(1.1);
}

#borya #pic14{
 opacity: 0.5;
    top: 2322px;
    left: 949px;
    transition: all ease 0.5s;
}

#borya #pic14:hover {
opacity: 1;
transform: scale(1.1);
}

#borya img{
top: 2349px;
left: 1025px;
}

#borya2 img{
top: 2049px;
left: 160px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#borya2 img:hover {
    animation: bounce 1s;
}

#borya2 p {
    top: 2467px;
    left: 162px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    transition: all ease 0.5s;
}

#borya2 p:hover {
    color: #04AE7B;
}

#borya2 a {
    text-decoration: none;
}

/* секция 6 */

#taras h3{
    font-size: 59px;
    font-weight: 700;
    top: 2645px;
    left: 404px;
    letter-spacing: 2px;
    position: absolute;
}

#text12{
    letter-spacing: 1px;
    line-height: 27px;
    text-align: right;
    top: 2722px;
    left: 156px;
}

#text13{
     letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 2972px;
    left: 731px;
}

#text14{
    letter-spacing: 1px;
    line-height: 26px;
    font-style: italic;
    font-weight: 500;
    text-align: right;
    top: 3004px;
    left: 621px;
}

#taras #pic16{
 opacity: 0.5;
    top: 2931px;
    left: 555px;
    transition: all ease 0.5s;
}

#taras #pic16:hover {
opacity: 1;
transform: scale(1.1);
}

#taras #pic17{
 opacity: 0.5;
    top: 2967px;
    left: 453px;
    transition: all ease 0.5s;
}

#taras #pic17:hover {
opacity: 1;
transform: scale(1.1);
}

#taras #pic18{
 opacity: 0.5;
    top: 2932px;
    left: 362px;
    transition: all ease 0.5s;
}

#taras #pic18:hover {
opacity: 1;
transform: scale(1.1);
}

#taras #pic19{
 opacity: 0.5;
    top: 3037px;
    left: 318px;
    transition: all ease 0.5s;
}

#taras #pic19:hover {
opacity: 1;
transform: scale(1.1);
}

#taras img{
top: 2939px;
left: 161px;
}

#taras2 img{
top: 2652px;
left: 850px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#taras2 img:hover {
    animation: bounce 1s;
}

#taras2 p {
    top: 3068px;
    left: 1065px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    transition: all ease 0.5s;
}

#taras2 p:hover {
    color: #04AE7B;
}
#taras2 a {
    text-decoration: none;
}

/* секция 7 */

#grisha h3{
    font-size: 59px;
    font-weight: 700;
    top: 3216px;
    left: 577px;
    letter-spacing: 2px;
    position: absolute;
}

#text15{
    letter-spacing: 1px;
    line-height: 27px;
    text-align: left;
    top: 3294px;
    left: 577px;
}

#text16{
     letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 3545px;
    left: 577px;
}

#text17{
    letter-spacing: 1px;
    line-height: 26px;
    font-style: italic;
    font-weight: 500;
    text-align: left;
    top: 3577px;
    left: 577px;
}

#grisha #pic21{
 opacity: 0.5;
    top: 3481px;
    left: 813px;
    transition: all ease 0.5s;
}

#grisha #pic21:hover {
opacity: 1;
transform: scale(1.1);
}

#grisha #pic22{
 opacity: 0.5;
    top: 3597px;
    left: 858px;
    transition: all ease 0.5s;
}

#grisha #pic22:hover {
opacity: 1;
transform: scale(1.1);
}

#grisha #pic23{
 opacity: 0.5;
    top: 3497px;
    left: 909px;
    transition: all ease 0.5s;
}

#grisha #pic23:hover {
opacity: 1;
transform: scale(1.1);
}

#grisha #pic24{
 opacity: 0.5;
    top: 3596px;
    left: 955px;
    transition: all ease 0.5s;
}

#grisha #pic24:hover {
opacity: 1;
transform: scale(1.1);
}

#grisha img{
top: 3514px;
left: 1011px;
}

#grisha2 img{
top: 3224px;
left: 162px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#grisha2 img:hover {
    animation: bounce 1s;
}

#grisha2 p {
    top: 3641px;
    left: 162px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    transition: all ease 0.5s;
}

#grisha2 p:hover {
    color: #04AE7B;
}

#grisha2 a {
    text-decoration: none;
}

/* секция 8 */

#nastyas h3{
    font-size: 59px;
    font-weight: 700;
    top: 3839px;
    left: 405px;
    letter-spacing: 2px;
    position: absolute;
}

#text18{
    letter-spacing: 1px;
    line-height: 27px;
    text-align: right;
    top: 3917px;
    left: 158px;
}

#text19{
     letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 4168px;
    left: 731px;
}

#text20{
    letter-spacing: 1px;
    line-height: 26px;
    font-style: italic;
    font-weight: 500;
    text-align: right;
    top: 4200px;
    left: 526px;
}

#nastyas #pic26{
 opacity: 0.5;
    top: 4229px;
    left: 494px;
    transition: all ease 0.5s;
}

#nastyas #pic26:hover {
opacity: 1;
transform: scale(1.1);
}

#nastyas #pic27{
 opacity: 0.5;
    top: 4129px;
    left: 469px;
    transition: all ease 0.5s;
}

#nastyas #pic27:hover {
opacity: 1;
transform: scale(1.1);
}

#nastyas #pic28{
 opacity: 0.5;
    top: 4190px;
    left: 357px;
    transition: all ease 0.5s;
}

#nastyas #pic28:hover {
opacity: 1;
transform: scale(1.1);
}

#nastyas #pic29{
 opacity: 0.5;
    top: 4133px;
    left: 324px;
    transition: all ease 0.5s;
}

#nastyas #pic29:hover {
opacity: 1;
transform: scale(1.1);
}

#nastyas img{
top: 4142px;
left: 161px;
}

#nastyas2 img{
top: 3847px;
left: 850px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#nastyas2 img:hover {
    animation: bounce 1s;
}

#nastyas2 p {
    top: 4264px;
    left: 956px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    transition: all ease 0.5s;
}

#nastyas2 p:hover {
    color: #04AE7B;
}

#nastyas2 a {
    text-decoration: none;
}

/* секция 9 */

#dashaz h3{
    font-size: 59px;
    font-weight: 700;
    top: 4403px;
    left: 577px;
    letter-spacing: 2px;
    position: absolute;
}

#text21{
    letter-spacing: 1px;
    line-height: 27px;
    text-align: left;
    top: 4480px;
    left: 577px;
}

#text22{
     letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 4731px;
    left: 577px;
}

#text23{
    letter-spacing: 1px;
    line-height: 26px;
    font-style: italic;
    font-weight: 500;
    text-align: left;
    top: 4762px;
    left: 577px;
}

#dashaz #pic31{
 opacity: 0.5;
    top: 4687px;
    left: 805px;
    transition: all ease 0.5s;
}

#dashaz #pic31:hover {
opacity: 1;
transform: scale(1.1);
}

#dashaz #pic32{
 opacity: 0.5;
    top: 4696px;
    left: 870px;
    transition: all ease 0.5s;
}

#dashaz #pic32:hover {
opacity: 1;
transform: scale(1.1);
}

#dashaz #pic33{
 opacity: 0.5;
    top: 4769px;
    left: 921px;
    transition: all ease 0.5s;
}

#dashaz #pic33:hover {
opacity: 1;
transform: scale(1.1);
}

#dashaz #pic34{
 opacity: 0.5;
    top: 4696px;
    left: 966px;
    transition: all ease 0.5s;
}

#dashaz #pic34:hover {
opacity: 1;
transform: scale(1.1);
}

#dashaz img{
top: 4726px;
left: 1013px;
}

#dashaz2 img{
top: 4409px;
left: 162px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#dashaz2 img:hover {
    animation: bounce 1s;
}

#dashaz2 p {
    top: 4827px;
    left: 162px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    transition: all ease 0.5s;
}

#dashaz2 p:hover {
    color: #04AE7B;
}

#dashaz2 a {
    text-decoration: none;
}

/* секция 10 */

#polina h3{
    font-size: 59px;
    font-weight: 700;
    top: 4990px;
    left: 193px;
    letter-spacing: 2px;
    position: absolute;
}

#text24{
    letter-spacing: 1px;
    line-height: 27px;
    text-align: right;
    top: 5067px;
    left: 183px;
}

#text25{
     letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 5317px;
    left: 730px;
}

#text26{
    letter-spacing: 1px;
    line-height: 26px;
    font-style: italic;
    font-weight: 500;
    text-align: left;
    top: 5349px;
    left: 680px;
}

#polina #pic36{
 opacity: 0.5;
    top: 5298px;
    left: 564px;
    transition: all ease 0.5s;
}

#polina #pic36:hover {
opacity: 1;
transform: scale(1.1);
}

#polina #pic37{
 opacity: 0.5;
    top: 5385px;
    left: 508px;
    transition: all ease 0.5s;
}

#polina #pic37:hover {
opacity: 1;
transform: scale(1.1);
}

#polina #pic38{
 opacity: 0.5;
    top: 5285px;
    left: 462px;
    transition: all ease 0.5s;
}

#polina #pic38:hover {
opacity: 1;
transform: scale(1.1);
}

#polina #pic39{
 opacity: 0.5;
    top: 5319px;
    left: 369px;
    transition: all ease 0.5s;
}

#polina #pic39:hover {
opacity: 1;
transform: scale(1.1);
}

#polina img{
top: 5278px;
left: 160px;
}

#polina2 img{
top: 4997px;
left: 851px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#polina2 img:hover {
    animation: bounce 1s;
}

#polina2 p {
    top: 5414px;
    left: 1073px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    transition: all ease 0.5s;
}

#polina2 p:hover {
    color: #04AE7B;
}

#polina2 a {
    text-decoration: none;
}

/* секция 11 */

#nastyab h3{
    font-size: 59px;
    font-weight: 700;
    top: 5550px;
    left: 577px;
    letter-spacing: 2px;
    position: absolute;
}

#text27{
    letter-spacing: 1px;
    line-height: 27px;
    text-align: left;
    top: 5627px;
    left: 577px;
}

#text28{
     letter-spacing: 1px;
    font-style: italic;
    font-weight: 500;
    top: 5877px;
    left: 577px;
}

#text29{
    letter-spacing: 1px;
    line-height: 26px;
    font-style: italic;
    font-weight: 500;
    text-align: left;
    top: 5909px;
    left: 577px;
}

#nastyab #pic41{
 opacity: 0.5;
    top: 5818px;
    left: 789px;
    transition: all ease 0.5s;
}

#nastyab #pic41:hover {
opacity: 1;
transform: scale(1.1);
}

#nastyab #pic42{
 opacity: 0.5;
    top: 5891px;
    left: 816px;
    transition: all ease 0.5s;
}

#nastyab #pic42:hover {
opacity: 1;
transform: scale(1.1);
}

#nastyab #pic43{
 opacity: 0.5;
    top: 5828px;
    left: 940px;
    transition: all ease 0.5s;
}

#nastyab #pic43:hover {
opacity: 1;
transform: scale(1.1);
}

#nastyab #pic44{
 opacity: 0.5;
    top: 5955px;
    left: 947px;
    transition: all ease 0.5s;
}

#nastyab #pic44:hover {
opacity: 1;
transform: scale(1.1);
}

#nastyab img{
top: 5876px;
left: 1067px;
}

#nastyab2 img{
top: 5557px;
left: 162px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

#nastyab2 img:hover {
    animation: bounce 1s;
}

#nastyab2 p {
    top: 5974px;
    left: 162px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
    transition: all ease 0.5s;
}

#nastyab2 p:hover {
    color: #04AE7B;
}

#nastyab2 a {
    text-decoration: none;
}

/* секция 12 */

